@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4 titulo-destacado">Bienvenido al Control de Agua del Municipio de Teziutlan</h1>

    <img src="https://teziutlan.gob.mx/logo.png" alt="Escudo de Teziutlán">
</div>
